<%= form_for(@comment, :url => post_comments_path(@post))  do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class= "sections">
    <%= f.text_field :body %>
  </div>
  <div class= "sections">
    <%= f.hidden_field :post_id, :value => @post.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
