<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"> Post Title</th>
      <th colspan="3"> Post Comments</th>
      <th colspan="3"> Edit</th>
      <th colspan="3"> Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td colspan="3"> <%= comment.post.title %></td>
        <td colspan="3"> <%= comment.body %><td>
        <td colspan="3"><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></td>
        <td colspan="3"><%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_post_comment_path(@post) %>
