<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"> Post Title</th>
      <th colspan="3"> Post Body</th>
      <th colspan="3"> Edit</th>
      <th colspan="3"> Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td colspan="3"> <%= post.title %></td>
        <td colspan="3"> <%= post.body %><td>  
        <td><%= link_to 'Show', post_path(post) %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
